/* 
    Document   : style
    Created on : 28.12.2012, 18:03:09
    Author     : Kati
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.hidden {
    display: none;
}
