/* 
    Document   : style
    Created on : 28.12.2012, 18:03:09
    Author     : Kati
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: rgb(195,195,195);
}

root { 
    display: block;
}
.hidden {
    display: none;
}
#highscore {
    position:absolute;
    left:680px;
    top: 85px;
}

